body{
    font-family: Arial, Helvetica, sans-serif;
    
}
#userName , #userEmail , #userAge{
    width: 15rem;
    height: 5vh;
    outline: none;
}
#Submit{
    width: 7rem;
    height: 6vh;
    background-color: #0379FF;
    border: none;
    border-radius: 5px;
    color: white;
}
#Submit:hover{
    cursor: pointer;
    box-shadow: 3px 4px 8px rgba(40, 106, 213, 0.605)
}
 table{
    width: 55rem;
    height: 7vh;
    border-collapse: collapse;
}
 th{
    border: 1px solid rgba(0, 0, 0, 0.208);
    background-color: rgba(128, 128, 128, 0.095);
}
td{
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.208);
} 

.th-1, .td-1 {
    width: 4rem;
    height: 3vh;
}

.th-2, .td-2 {
    width: 10rem;
    height: 3vh;
}

.th-3, .td-3 {
    width: 12.5rem;
    height: 3vh;
}

.th-4, .td-4 {
    width: 6.4rem;
    height: 3vh;
}

.th-5, .td-5 {
    width: 6rem;
    height: 3vh;
}

.th-6, .td-6 {
    width: 6.2rem;
    height: 3vh;
}

.th-7, .td-7 {
    width: 6rem;
    height: 3vh;
}

#edit , #del{
    width: 4rem;
    height: 6vh;
    background-color: #0379FF;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 1rem;
}
#edit:hover , #del:hover{
    cursor: pointer;
    box-shadow: 3px 4px 8px rgba(40, 106, 213, 0.605)
}






